@font-face {
    font-family: 'vazir';
    src: url('../fonts/Vazir-Medium.ttf') format('truetype'),
        url('../fonts/Vazir-Medium.woff2') format('woff2'),
        url('../fonts/Vazir-Medium.woff') format('woff'),
        url('../fonts/Vazir-Medium.eot?#iefix') format('embedded-opentype');
}

* {
    font-family: 'vazir';
}

.home__post__description{
    text-align: justify;
}
